numpy==1.18.2
opencv-python==4.2.0.34
tqdm==4.45.0
# on Heroku host
https://download.pytorch.org/whl/cpu/torch-1.4.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.5.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
# on local machine
# torch==1.4.0
# torchvision==0.5.0
streamlit==0.57.3